<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section>
        <h1>type your html code </h1>
        <form action="/generate" method="post">
            <input class="theme" name="theme" type="text" placeholder="enter the theme" size="20rem">
            <input class="theme" name="content" type="text" placeholder="prompt the content you need" size="30rem">
            
            <button type="submit">Generate</button>
        </form>
    </section>
</body>
</html>
